html {
  display: table;
  height: 100%;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: #ebebeb;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #121212;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  border: 2px solid #bababa;
  padding: 25px 25px 25px 60px;
  width: 660px;
  background-color: white;
  transition: all 0.4s;
}
.container:hover {
  border: 2px solid #2fc2ee;
}

.avatar {
  float: left;
  position: absolute;
  left: 27px;
  height: 80px;
  width: 80px;
  border-radius: 100px;
  transition: all 0.4s;
}
.avatar:hover {
  border-radius: 0px;
}

.tweet-time {
  float: right;
  color: #bababa;
  transition: all 0.4s;
  border-bottom: 1px solid white;
}
.tweet-time:hover {
  border-bottom: 1px solid #bababa;
}

.push {
  margin-left: 70px;
}

.user::after {
  clear: both;
  content: "";
  display: table;
}

.name {
  font-weight: bold;
  transition: all 0.4s;
  border-bottom: 1px solid white;
}
.name:hover {
  border-bottom: 1px solid #121212;
}

.username {
  font-weight: normal;
  color: #bababa;
  margin-left: 10px;
  border-bottom: 1px solid white;
}

.tweet {
  margin: 20px 0;
  font-size: 2em;
}

.at, .tag {
  color: #2fc2ee;
  transition: all 0.4s;
  border-bottom: 2px solid white;
}
.at:hover, .tag:hover {
  border-bottom: 2px solid #2fc2ee;
}

.fa {
  color: #bababa;
  margin-right: 40px;
  font-size: 1.5em;
  transition: all 0.4s;
}

.fa-reply:hover {
  color: #2fc2ee;
}

.fa-retweet:hover {
  color: #3da50d;
}

.fa-star:hover {
  color: #ecb613;
}

.fa-ellipsis-h:hover {
  color: #121212;
}

.fa-eye {
  float: right;
  margin-right: 0;
}
.fa-eye:hover {
  color: #2fc2ee;
}

.icon-number {
  font-size: 0.66em;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
